.body1 {
background-image: url(img/siisi.gif);
background-repeat: no-repeat;
background-color: black;

}

.body2 {
    background-color: aqua;
}

.inicioColor {
     color: rgb(255, 255, 255);
     display: grid;
     grid-template-columns: 10% 40% 40%;
     text-align: end;
}

p{
    color: rgb(255, 255, 255);
} 

.tamaño1 {
    font-size: 50px;
    margin-top: -30px;
}

.segundoColor {
    color: aliceblue;
}

.img1 {
    margin-left: 50%;
}

.centro {
    text-align: center;
}