.titulo {
    text-align: center;
}

.cPort {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 50%;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}


#infos1 {
    border: solid 2px rgb(0, 255, 208);
    width: 200px;
    height: 20px;
}

#infos2 {
    border: solid 2px rgb(255, 0, 195);
    width: 200px;
    height: 20px;
}

#infos3 {
    border: solid 2px rgb(0, 0, 0);
    width: 200px;
    height: 20px;
}

#infos4 {
    border: solid 2px rgb(12, 231, 111);
    width: 200px;
    height: 20px;
}

#infos5 {
    border: solid 2px rgb(255, 174, 0);
    width: 200px;
    height: 20px;
}