.titulo {
    text-align: center;
}

.cPort {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    gap: 50%;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}


#infos1 {
    border: solid 2px red;
    width: 100px;
    height: 20px;
}

#infos2 {
    border: solid 2px red;
    width: 100px;
    height: 20px;
}

#infos3 {
    border: solid 2px red;
    width: 100px;
    height: 20px;
}

#infos4 {
    border: solid 2px red;
    width: 100px;
    height: 20px;
}

#infos5 {
    border: solid 2px red;
    width: 100px;
    height: 20px;
}