h1{
color: rgb(254, 254, 254);
text-align: center;
background-color: rgba(0, 0, 0, 0.662);
border-radius: 70%;
}
/* -------------------------------------------------------------------- */
.s2{
    background-color: rgb(106, 225, 229);
}
/* ---------------------------------------------------------------------- */
.img {
    display: flex;
    justify-content: center;
  }
  /* ---------------------------------------------------------------------- */
.li1{
    background-color: rgb(209, 91, 91);
width: 5%;
border-radius: 30%;
}.li2{
    background-color: rgb(114, 239, 147);
width: 10%;
border-radius: 20%;
}.li3{
    background-color: rgb(229, 13, 222);
width: 12%;
border-radius: 30%;
}.li4{
    background-color: rgb(205, 228, 72);
width: 8%;
border-radius: 30%;
}.li5{
    background-color: rgba(245, 7, 225, 0.425);
width: 10%;
border-radius: 30%;
}
/*----------------------------------------------------------------------- */
#st{
background-color: rgb(255, 119, 7);
width: 10%;
border-radius: 30%;
}
#st2{
    background-color: rgb(201, 255, 7);
    width: 10%;
    border-radius: 30%;
}
#st3{
    background-color: rgba(212, 145, 0, 0.838);
    width: 10%;
    border-radius: 30%;
}
#st4{
    background-color: rgb(202, 91, 0);
    width: 10%;
    border-radius: 30%;
}
#st5{
    background-color: rgba(218, 136, 5, 0.854);
    width: 10%;
    border-radius: 30%;
}
/* ------------------------------------------------------------------------------ */
.tr1{
    background-color: rgba(0, 0, 0, 0.854);
    width: 10%;
    border-radius: 30%;
    color: aliceblue;
}
/* ------------------------------------------------------------------------------- */
.fondo {
    background-image: url(IMG/fondo3.avif); /*imagen del fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-position: center; /* Centra la imagen de fondo */
    height: 50vh; /* Ajusta la altura de la foto */
  }
  /* ------------------------------------------------------------------------------------ */
  .gif-pizza{
 transition: 1s ease;
  }
  /*--------------------------------------------------------------------------------------*/
.gif-pizza:hover{
    transform: scale(1.1);
}
/* --------------------------------------------------------------------------------------------------- */
.pizza2{
    transition: 1s ease;
}
/* ------------------------------------------------------------------------------------------------------------ */
.pizza2:hover{
    transform: scale(1.1);
}
/* ---------------------------------------------------------------------------------------------------------- */
.huevoefe{
    transition: 1s ease;
}
/* -------------------------------------------------------------------------------------------------------------- */
.huevoefe:hover{
    transform: scale(1.1);
}
/* ---------------------------------------------------------------------------------------------------------------- */
.huevoefe1{
    transition: 1s ease;
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.huevoefe1:hover{
    transform: scale(1.1);
}
/* --------------------------------------------------------------------------------------------------------------------- */
.ham{
    transition: 1s ease;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
.ham:hover{
    transform: scale(1.1); 
}
/* -------------------------------------------------------------------------------------------------------------------------- */
.ham1{
    transition: 1s ease;   
}
/* ------------------------------------------------------------------------------------------------------------ */
.ham1:hover{
    transform: scale(1.1); 
}
/* ---------------------------------------------------------------------------------------------------------------------------- */
.mon{
    transition: 1s ease; 
}
/* ---------------------------------------------------------------------------------------------------------------------- */
.mon:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.mon1{
    transition: 1s ease;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.mon1:hover{
    transform: scale(1.1);
}/* ---------------------------------------------------------------------------------------------------------------------------- */
.papas{
    transition: 1s ease; 
}
/* ---------------------------------------------------------------------------------------------------------------------- */
.papas:hover{
    transform: scale(1.1);
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.papas1{
    transition: 1s ease;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.papas1:hover{
    transform: scale(1.1);
}
/* --------------------------------------------------------------------------------------------------------------------- */
.fin{
   color: aliceblue;
    text-align: center;
   background-color: black;
    border-radius: 70%;
}